<a href="https://colab.research.google.com/github/shayekh00/A-representation-of-NYC-Airbnb-Open-Data/blob/master/Air_BnB_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
from google.colab import drive
drive.mount("/content/drive")
%cd "/content/drive/My Drive/Colab Notebooks/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [122]:
df = pd.read_csv('Datasets/AB_NYC_2019.csv')
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [54]:
df.columns.values

array(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'], dtype=object)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [56]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [123]:
(df['last_review'].isnull() == df['reviews_per_month'].isnull() ).all

<bound method Series.all of 0        True
1        True
2        True
3        True
4        True
         ...
48890    True
48891    True
48892    True
48893    True
48894    True
Length: 48895, dtype: bool>

In [0]:
df.loc[df['reviews_per_month'].isnull(),'reviews_per_month' ]= 0

In [0]:
df.drop(['id','name','host_name','last_review'], axis=1, inplace=True)

In [126]:
df.isnull().sum()

host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [61]:
df.describe()

            host_id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   6.762001e+07  ...        112.781327
std    7.861097e+07  ...        131.622289
min    2.438000e+03  ...          0.000000
25%    7.822033e+06  ...          0.000000
50%    3.079382e+07  ...         45.000000
75%    1.074344e+08  ...        227.000000
max    2.743213e+08  ...        365.000000

[8 rows x 9 columns]

# **Which hosts are the busiest and why**

Brooklyn and Manhattan are the busiest because they have the highest demands which corrosponds to more people

In [95]:
df['neighbourhood_group'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [157]:
data=df.copy()
data= (data.groupby(['neighbourhood_group'] )['host_id'])
#data= data.get_group('Brooklyn')
data= data.get_group('Manhattan')
data=data.to_list()
print(data[1])

4632

# **What areas have more traffic than others and why is that the case?**

The same reason as above.
The more the price,more the demand,more the peoople this higher traffic.

In [181]:
df['price'].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [180]:
#print(len(df['latitude'].unique()))
#print(len(df['neighbourhood'].unique()))
data=df.copy()
data= (data.groupby(['neighbourhood_group','minimum_nights'] )['price'])

data.get_group(('Manhattan',6)).median()
# for A,A_df in data: # A is your column and A_df is group of one kind at a time
#   print(A)
#   print(A_df)

150.0

# **Are there any relationships between prices, number of reviews, and the number of days that a given listing is booked?**